<label>Video</label>
<br style="clear: both;">
<iframe width="{{ width }}" height="{{ height }}" src="//www.youtube.com/embed/{{ media.providerReference }}" frameborder="0" allowfullscreen></iframe>
<br><br>
<label>Image</label>
<br>
{{ media|media_thumbnail(width, height, type) }}