<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="./tests/bootstrap.php"
         colors="true"
         beStrictAboutChangesToGlobalState="true">
    <coverage>
        <include>
            <directory>./src</directory>
        </include>
        <exclude>
            <directory>./src/Resources</directory>
        </exclude>
    </coverage>
    <testsuites>
        <testsuite name="unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="functional">
            <directory>tests/Functional</directory>
        </testsuite>
    </testsuites>
    <php>
        <server name="KERNEL_DIR" value="tests/Functional"/>
        <server name="KERNEL_CLASS" value="MediaMonks\SonataMediaBundle\Tests\App\AppKernel"/>
        <env name="APP_ENV" value="test"/>
<!--        <env name="SYMFONY_DEPRECATIONS_HELPER" value="disabled"/>-->
    </php>
</phpunit>
