{% extends base_template %}

{% block form %}
    <div class="box-body">
        {% for providerId, provider in providers %}
            <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
                <a href="{{ admin.generateUrl('create', {'provider': providerId}) }}" class="btn btn-default">
                    <i class="fa fa-{{ provider.getIcon() }}"></i>
                    {{ provider.getName() }}
                </a>
            </div>
        {% else %}
            <span class="alert alert-info">No providers configured.</span>
        {% endfor %}
        <div class="clearfix"></div>
    </div>
{% endblock %}
